<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qq.mapper.LoveMenstrualMapper">

    <resultMap type="LoveMenstrual" id="LoveMenstrualResult">
        <result property="id" column="id"/>
        <result property="period" column="period"/>
        <result property="menstrualStartDate" column="menstrual_start_date"/>
        <result property="menstrualEndDate" column="menstrual_end_date"/>
        <result property="createDate" column="create_date"/>
        <result property="createBy" column="create_by"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectLoveMenstrualVo">
        select id, period, menstrual_start_date, menstrual_end_date, create_date, create_by, update_date, update_by from love_menstrual
    </sql>

    <select id="selectLoveMenstrualList" parameterType="LoveMenstrual" resultMap="LoveMenstrualResult">
        <include refid="selectLoveMenstrualVo"/>
        <where>
            <if test="period != null  and period != ''">and period = #{period}</if>
            <if test="menstrualStartDate != null ">and menstrual_start_date = #{menstrualStartDate}</if>
            <if test="menstrualEndDate != null ">and menstrual_end_date = #{menstrualEndDate}</if>
            <if test="createDate != null ">and create_date = #{createDate}</if>
            <if test="updateDate != null ">and update_date = #{updateDate}</if>
        </where>
    </select>

    <select id="selectLoveMenstrualById" parameterType="Long" resultMap="LoveMenstrualResult">
        <include refid="selectLoveMenstrualVo"/>
        where id = #{id}
    </select>

    <insert id="insertLoveMenstrual" parameterType="LoveMenstrual" useGeneratedKeys="true" keyProperty="id">
        insert into love_menstrual
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="period != null">period,</if>
            <if test="menstrualStartDate != null">menstrual_start_date,</if>
            <if test="menstrualEndDate != null">menstrual_end_date,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="period != null">#{period},</if>
            <if test="menstrualStartDate != null">#{menstrualStartDate},</if>
            <if test="menstrualEndDate != null">#{menstrualEndDate},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateLoveMenstrual" parameterType="LoveMenstrual">
        update love_menstrual
        <trim prefix="SET" suffixOverrides=",">
            <if test="period != null">period = #{period},</if>
            <if test="menstrualStartDate != null">menstrual_start_date = #{menstrualStartDate},</if>
            <if test="menstrualEndDate != null">menstrual_end_date = #{menstrualEndDate},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLoveMenstrualById" parameterType="Long">
        delete from love_menstrual where id = #{id}
    </delete>

    <delete id="deleteLoveMenstrualByIds" parameterType="String">
        delete from love_menstrual where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>